<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= produto.nome %> - Clean Energy</title>
  <link rel="stylesheet" href="/css/item.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<%- include('../partial/header1.ejs') %>
  <main>
     <section class="back-button-container">
  <button class="btn-voltar-plain" onclick="history.back()">
    <i class='bx bx-left-arrow-alt'></i> Voltar
  </button>
</section>
    <section class="item">
      <img src="/imagem/<%= produto.imagem %>" alt="<%= produto.nome %>">

      <article class="item-details">
        <h2><%= produto.nome %></h2>

        <section class="info-produto">
          <span><i class="bx bx-map"></i> <%= produto.local %></span>
        </section>

        <p><%= produto.descricao %></p>

        <p class="price">R$ <%= produto.preco %>,00</p>  

        <p>Frete: FOB</p>

        <a href="/carrinho">
          <button>Comprar</button>
        </a>

        <section class="avaliacao">
          <h3>Avaliação do Usuário</h3>
          <img src="/imagem/avatar.png" class="avatar" alt="Avatar do Usuário">
          <span class="aval">Usuário_1</span> <span>4,86</span>
          <span class="stars">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star-half"></i>
          </span>
        </section>

        <h2 class="details-user">Termos e condições</h2>
        <p>
          - Todos os produtos anunciados neste site seguem o regime FOB (Free On Board), sendo de responsabilidade do comprador o custo e o risco do frete a partir do ponto de embarque.<br><br>
          - O site cobra uma taxa de 5% sobre o valor de cada compra ou venda realizada na plataforma, destinada exclusivamente à manutenção e operação do serviço.
        </p>
      </article>
    </section>
  </main>
</body>
</html>
