<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  </head>
  <body>
    <main>
      <section>
        <form action="/login" method="POST">
          <h2>Dados de acesso</h2>

          <article class="input-icon">
            <i class="bi bi-envelope icones-gerais"></i>
            <input
              type="text"
              id="usuarioDigitado"
              name="usuarioDigitado"
              placeholder="Digite seu email"
              value="<%= valores?.usuarioDigitado || '' %>"
              class="<%= erro ? 'erro' : '' %>"
            />
          </article>

          <article class="input-icon">
            <i class="bi bi-lock icones-gerais"></i>
            <input
              type="password"
              id="senhaDigitada"
              name="senhaDigitada"
              placeholder="Digite sua senha"
              value="<%= valores?.senhaDigitada || '' %>"
              class="<%= erro ? 'erro' : '' %>"
            />
          </article>

          <% if (erro) { %>
          <span class="msgErro"><%= erro %></span>
          <% } %>

          <button type="submit" id="btnClique" class="btn-login">
            Acessar
          </button>

          <p class="login">
            Ainda não possui uma conta?
            <a href="/cadastroCliente">Cadastre-se</a> já!
          </p>
        </form>
      </section>
    </main>
    <script src="/js/script.js"></script>
  </body>
</html>
